<div id="trace_output" align="center">
			<table width="100%">
				<tr>
					<td align="left" width="40%"><h1 style="padding-left: 120px;">Трасса вывода</h1></td>
					<td align="right" valign="middle"><div style="display: inline-block; vertical-align: middle; padding-right: 30px;"><div class="make_S" style="display: inline-block; width:40px; height:20px;"></div> - Подходит <div class="make_H" style="display: inline-block; width:40px; height:20px;"></div> - Не подходит <div class="make_P" style="display: inline-block; width:40px; height:20px;"></div> - Уже используется</div></td>
				</tr>
			</table>

			<div id="back_top_tbl"></div><div id="top_tbl" align="left"></div>
			<div id="step_tbl" align="left">
				
			</div>
			<div id="trace">
				
			</div>
			<br />
</div>