<div style="background: black; color: silver; padding: 20px; position: fixed; width: 100%; left: 0px; top: 0px">
  <span style=""><a style="color: silver;" href="/">На главную</a></span>
</div>

<div style="top: 70px; position: relative">
  <h2>Текущий план:</h2>
  <table style="border-collapse: collapse">
    <% if $plane.empty? %>
      <tr><th>На текущий момент задач нет</th></tr>
    <% else %>
      <tr style="background: silver; text-align: left"><th style="padding: 10px">Задача</th><th style="padding: 10px">Действия</th></tr>
      <% $plane.each do |rec| %>
        <tr style="border-bottom: 1px solid silver">
          <td style="padding: 10px">
          <% if rec["type"] == "ht" %>
            Глава ГТ-учебника "<%= rec["data"]["text"] %>"
          <% elsif rec["type"] == "ett" %>
            <% if rec["data"]["ett_type"] == "0" %>
              <%= link_to rec["data"]["text"], test_utz_question_path(rec["data"]["ett_id"].to_i) %>
            <% end %>
          <% elsif rec["type"] == "cmp" %>
            <%= link_to rec["data"]["text"], rec["data"]["link"] %>
          <% end %>
            
          </td>
          <td style="padding: 10px">
            <%= form_tag(outrecs_done_path(rec["id"]), method: "get") do %>
            <input type="submit" value="Выполнено">
           <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>