div.dragging
{
	position: absolute;
	opacity: 0.5;
	background-color: white;
}

.BNFelement
{
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid grey;
	border-radius: 2px;
	margin: 4px;
	background-color: #A0A0A0;
	cursor: pointer;
	//white-space: nowrap;
}

.deleteIcon
{
	float: right;
	cursor: pointer;
}

.addIcon
{
	height: 12pt;
	margin-bottom: -2px;
}

div#elements
{
	float: right;
	padding: 10px;
	max-width: 30%;
	background-color: wheat;
}

div.BNFeditor
{
	display: table;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;

	border: 2px solid blue;
	width: 90%;

	font-size: 12pt;
}

span.newLine
{
	opacity: 0.3;
	cursor: default;
}

div.BNFline
{
	background-color: #F0F0F0;
	min-height: 16pt;
	border: 1px solid grey;
	margin: 5px;
	padding-right: 10px;
	padding-top: 2px;
	line-height: 16pt;
}

span.BNFrule
{
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid grey;
	border-radius: 2px;
	margin: 4px;
	background-color: #FFFFFF;
	cursor: default;
}

span.freshRule
{
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid grey;
	border-radius: 2px;
	margin: 4px;
	background0color: lightgreen;
}

span.BNFaddElement
{
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid darkgreen;
	border-radius: 2px;
	margin: 8px;
	margin-right: 0;
	background-color: #FFFFFF;
	color: green;
}

span.BNFnewRule
{
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid green;
	border-radius: 2px;
	margin: 4px;
	margin-left: 10px;
	mergin-right: 10px;
	background-color: #A0FFA0;
	cursor: default;

}
div.BNFlineHighlighted
{
	border: 2px solid green;
	margin: 4px;
}

span.BNFruleHighlighted
{
	border: 2px solid green;
	background-color: lightgreen;
	margin: 2px;
}

div#BNFconstruct
{
	min-height: 300px;
	max-width: 65%;
	min-width: 450pt;
	float: left;
}
