.body {
	background : #F0F0F0;
}
.normal {
	color: black;
	font-family: serif;
	cursor : pointer;
	text-align: center
}
.start-select {
	color : #FF0000;
	font-family : serif;
	cursor : pointer;
	text-align: center
}
.end-select {
	color : #FF7700;
	font-family : serif;
	cursor : pointer;
	text-align: center
}

.group {
	line-height : 45px;
	color : #000000;
	font-family : serif;
	background : #FFFFFF;
	border-bottom : 2px solid #000000;
	cursor : pointer;
	background-color : transparent;
	text-align: center
}

#task {
	display : table;
	height : 590px;
	width : 68%;
	float : left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-left : 2px solid blue;
	border-right : 2px solid blue;
	font-size : 15pt;
	line-height : 45px;
	background : #FFFFFF;
}

#buttons {
	width : 28%;
	float : right;
	position : relative;
	top : 10px;
}

.button {
	width : 80%;
	border : 2px solid #000000;
	margin-bottom : 4px;
	cursor : pointer;
	border-radius : 20px;
}

.cross {
	cursor : pointer;
	position : relative;
	bottom : 9px;
	left : 8px;
	margin : -8px;
}
.icon {
	cursor : help;
	position : absolute;
	right : 0px;
	top : 0px;
}
.help {
	position : absolute;
	right : 40px;
	top : 40px;
	background : wheat;
	max-width : 300px;
	border : 3px solid blue;
	z-index : 2;
}
.dynhelp {
	display : table;
	background : #FFFFFF;
	line-height : 20px;
	width : 90%;
	height : 100px;
	border : 2px solid blue;
}
