.normal {
	color: black;
	font-family: serif;
	cursor : pointer;
	text-align: center
}
.start-select {
	color : #FF0000;
	font-family : serif;
	cursor : pointer;
	text-align: center
}
.end-select {
	color : #FF7700;
	font-family : serif;
	cursor : pointer;
	text-align: center
}

.group {
	line-height : 45px;
	color : #000000;
	font-family : serif;
	background : #FFFFFF;
	border-bottom : 2px solid #000000;
	cursor : pointer;
	background-color : transparent;
	text-align: center
}

#task {
	width : 68%;
	float : left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-right : 2px solid orange;
	border-top : 2px solid orange;
	font-size : 15pt;
	line-height : 45px
}

#buttons {
	width : 28%;
	float : right;
}

.button {
	width : 80%;
	border : 2px solid #000000;
	margin-bottom : 4px;
	cursor : pointer;
	border-radius : 20px;
}

.cross {
	cursor : pointer;
	position : relative;
	bottom : 9px;
	left : 8px;
	margin : -8px;
}
