

<% @tests.each do |test| %>
    <tr>
    
    <table border="1">
				 <tr>
					 <td><%= test.student.fio %></td>
					 <td><%= test.rating %></td>
				 </tr>


			   </table>

      
    </tr>
  <% end %>
  
  
  <% @lolka = User.find (session["user_id"])%>
  <%=@lolka.id%>