<div id="G">
	<span>Компонент G</span><br/>
  <span>Выделите все группы в предложениях, и составьте БНФ для групп, G и каждого предложения</span><br/>
  <button onclick="componentGInit()" type="button">Обновить предложения в компоненте G</button><br/>
  <div id="Gglobal">
  </div>
</div>
