<div id="G">
	<span>Компонент G</span><br/>
  <span>Выделите все группы в предложениях, и составьте БНФ для групп, G и каждого предложения</span><br/>
  <button onclick="GloadTask()">Обновить предложения в компоненте G</button><br/>
  <div id="global">
    <div id="gtask" width="70%">
    </div>
    <div id="buttons" width="30%">
    </div></br>
    <div id="secondTask">
    </div>
  </div>
</div>
