<div id="G">
  <span>Компонент G</span><br/>
  <%= check_box_tag :ignore_g %>
  <%= label_tag :ignore_g, "Не сохранять изменения компонента G" %><br/>
  <span>Выделите все группы в предложениях, и составьте описание с помощью БНФ для всех групп, G и каждого предложения</span><br/>
  <div id="Gglobal">
  </div>
</div>
