<% content_for(:head) do %>

  <title>Редактирование задания</title>
  <style>
  </style>
<% end %>

<form method="POST" action="update">
	<div>
		<span>Компонент V</span><br/>
		<span>Выберите нужные пункты для компонентов БНФ</span><br/>
		<% bnf_elements_lists.each do |key, val| %>
			<%= content_tag(:span, "#{key.first} ::= ") %>
			<% i = 0 %>
			<% val.each do |elem| %>
				<% i += 1 %>
				<%= check_box_tag("#{key.last}[]", elem, false, id: "#{key.last}#{i}") %>
				<%= label_tag("#{key.last}#{i}", elem) %>
			<% end %>
			<br/>
		<% end %>
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
	<br/>
	<input type="submit" />
</form>

