<% content_for(:head) do %>

  <title>Новое задание</title>
  <style>
textarea
{
	min-width: 60%;
	min-height: 300pt;
}

form
{
	width: 100%;
}
  </style>
<% end %>

<div>
	Введите три предложения, каждое на новой строке.<br/>
	Можно оставлять пустые строки.<br/>
</div>
<form method="POST" action="create">
	<textarea name="sentences" type="text" placeholder="Введите здесь предложения" ></textarea>
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
	<br/>
	<input type="submit" />
</form>

