<% content_for(:head) do %>
  <title>Новое задание</title>
<% end %>

<div>
  Введите три предложения, каждое на новой строке.<br/>
</div>
<%= form_tag(tasks_path, method: "POST") do %>
  <%= text_area_tag('sentences', nil, size: "200x3",
                   placeholder: "Введите здесь предложения") %>
  <br/>
  <input type="submit" />
<% end %>

