<div class="loading" id="loading_win">
	<h3>Идет построение модели</h3>
	<img src="/general/img/loading.GIF" / >
</div>
<div id="select_div"></div>
		<br />
		<center>

			<div id="select_div_msg">
				<div id="select_div_title">
					Выберите начальное состояние 
				</div>
				<table border="0" width="100%">
					<tr>
						<td>
							
							<div id="fact_select"><span style="font-size:10px;">Состояние РП</span></div>
						</td>
						<td>
							<div id="rule_select"></div>
						</td>
						<td>
							<div id="select_goal">
								<span style="font-size:10px;">	Выберите цель</span>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="top" align="left">
						<div class="scroll" align="left">
							<div id="select_fact">

							</div>
						</div></td>

						<td valign="top" align="left">
						<div class="scroll" style="width:280px;" align="left">
							<div id="table_check">

							</div>
						</div></td>
						<td valign="top" align="left">
							<div class="scroll" style="width:180px; " align="left">
				<div id="goal_select"></div>
				</div>
						</td>
					</tr>
				</table>
				<div align="center" id="button_div">
                                    <input type="button" class="button_generate" style="margin:20px;" value="Готово" onClick="solverR.check();" />
				</div>

			</div>
			<div id="holder">
				<p style="color:#FFF;">
					Для начала сгенерируйте базу знаний
				</p>
			</div>
                    <div align="center" id="step_second" style="display:none;">
			
			<input type="button" value="Оценить" class="button_generate" id="end_btn" onclick="functions.result('R');"  />
<!--			<input type="button" value="Решить" class="button_generate" id="end_btn" onclick="showStepsTrace();"  />-->
                    </div>
                    <div id="trace">
				
			</div>
		
		<div style="padding:10px;" id="first_step">
			<hr />
			<br />
			<div id="edit_bz" style="padding:10px;" align="left">
				<h2>Построение базы знаний</h2>
				<center>
					<textarea id="baza_text" style="display:none;"></textarea>
					<br />
					<br />
					<table width="70%">
                                            <tr>
                                                <td colspan="2" align="left"><b>Построение модели из JSON файла:</b>
                                                            <input type="text" value="" id="modelJSON" class="JSONfile" placeholder="Вставьте сюда содержимое JSON файла, если вы уже строили модели и сохраняли БЗ" />
                                                            <br /><br/>
							</td>
							

						</tr>
						<tr>
							<td width="50%;" align="left">
                                                            <b>Генерация случайной модели, с возможностью редактирования фактов:</b><br /><br />
                                                            Предполагаемая глубина вывода:
							<select id="level_style">
								<option>2</option><option>4</option><option>5</option>
							</select>
							
							</td>
							<td align="right">
							
                                                        <input type="button" class="button_generate" id="button_edit_save" value="Создать модель" onclick="functions.solveAction();" />
							</td>

						</tr>
					</table>
				</center>
			</div>
		</div>
		<br />
		<div class="panel">
			<h3>Информация</h3>
			<p>
				Глубина: <span id="depth_info" style="font-weight: bold;"></span>
			</p>
			<p>
				Текущее состояние памяти: <span id="start_info" style="font-weight: bold; color:#fff;"></span>
			</p>

			<p>
				Введенные правила:
			</p>
			<p id="rule_info"></p>

			<div style="clear:both;"></div>

		</div>
		
		<center>
			<span class="version"> Версия: 4.0.1</span>
		</center>
		<script>
		functions.getJSONmodel();
		</script>
		<div id="tasker">
			<%=params['planning_task_id']%>
		</div>
