  <tr data-timetable=<%=timetable.id%>>
    <td class="num">
      <%=timetable.group_number %><br>
      <%= link_to to_json_timetable_path(timetable), remote: true do %>
          <span class="to_json">JSON</span>
      <% end %><br>
      <a class="from_json">Правка</a>
    </td>
    <td class="events" data-week="1"></td>
    <td class="events" data-week="2"></td>
    <td class="events" data-week="3"></td>
    <td class="events" data-week="4"></td>
    <td class="events" data-week="5"></td>
    <td class="events" data-week="6"></td>
    <td class="events" data-week="7"></td>
    <td class="events" data-week="8"></td>
    <td class="events" data-week="9"></td>
    <td class="events" data-week="10"></td>
    <td class="events" data-week="11"></td>
    <td class="events" data-week="12"></td>
    <td class="events" data-week="13"></td>
    <td class="events" data-week="14"></td>
    <td class="events" data-week="15"></td>
    <td class="events" data-week="16"></td>
  </tr>
