$('#toAddFromJSON').html('<td class="num"><%=@timetable.group.number%><br><%= link_to to_json_timetable_path(@timetable), remote: true do %><span class="to_json">Сохранить</span><% end %><br> <a class="from_json">Правка</a> </td> <td class="events" data-week="1"></td> <td class="events" data-week="2"></td> <td class="events" data-week="3"></td> <td class="events" data-week="4"></td> <td class="events" data-week="5"></td> <td class="events" data-week="6"></td> <td class="events" data-week="7"></td> <td class="events" data-week="8"></td> <td class="events" data-week="9"></td> <td class="events" data-week="10"></td> <td class="events" data-week="11"></td> <td class="events" data-week="12"></td> <td class="events" data-week="13"></td> <td class="events" data-week="14"></td> <td class="events" data-week="15"></td> <td class="events" data-week="16"></td>');
<%events = @timetable.events%>
<%events.each do |event|%>
$('td[data-week="<%= event.week %>"]','#toAddFromJSON').append("<%= j (render event) %>");
<%end%>
$('div.events').draggable({
  containment: 'table',
  revert: 'invalid'
});
$('td.events').droppable({
  accept: 'div.events',
  tolerance: 'intersect',
  drop: function (event, ui) {
    if ($('div', this).length == 0) {
      $div = $(ui.draggable);
      $div.appendTo($(this));
      var event_id = $div.data('event');
      var week = $(this).data('week');
      var timetable_id = $(this).parent().data('timetable');
      moveEvent(event_id, week, timetable_id);
      $div.css({
        'top': '0px',
        'left': '0px'
      });
    } else {
      $(ui.draggable).animate({top: 0, left: 0}, 'slow'); //revert
    }
  }
});
$('#download').fadeOut(400);