div#helpContainer
{
	float: right;
}
div#help
{
	position: absolute;
	right: 0;
	background-color: wheat;
	display: none;
	border: 1px solid gray;
	border-radius: 5px;
}

img#helpIcon:hover + div#help
{
	display: block;
}
