.fade.modal-backdrop.show {
    display: none !important;
}

.rc-tree-select-tree-title {
    cursor: pointer;
}

.no-dis {
    display: none !important;
}

.rc-tree-select-selection--multiple {
    min-height: 35px
}

.criteria-badge {
    background-color: rgb(230, 235, 255);
}
