<style>
	table, th, td {
	   border: 1px solid black;
	}
</style>

<h3>Группа <%= @schedule.group %></h3>

<table>
<tr>
    <th>Неделя #</th>
    <th>Знания</th>
    <th>Умения</th>
    <th>Психпортет</th>
</tr>

<% for i in 1..16 %>
	<tr>
		<td><%= i %><% if ((@schedule.current_week - i) == 0) %> * <% end %>
                </td>
		<td>
			<% if (@schedule.knowledge1 == i) or (@schedule.knowledge2 == i) %>Проверка_знаний<% end %> 
				
		</td>
		<td>
			<% if (@schedule.frame_sem == i) %>Фреймы_и_семантические_сети<% end %> 
                        <% if (@schedule.vivod == i) %>Прямой_и_обратный_выводы<% end %>  
		</td>
		<td>
			<% if (@schedule.psyho == i) %>Психотест<% end %> 
		</td>
	</tr>
<% end %>

</table>
<%= link_to 'Изменить', edit_schedule_path(@schedule) %>
<br>
<%= link_to 'Назад', schedules_path %>
