<span>Компонент G</span><br/>
<textarea name="g_log", cols="150" rows="10" >
<%= @result.g_result.log.data%>
</textarea>
<br/>
<span>Оценка за компонент: </span><%= text_field_tag :g_mark, @result.g_result.mark %>
<hr/>
