<span>Компонент V</span><br/>
<textarea name="v_log", cols="100" rows="10" >
<%= @result.v_result.log.data%>
</textarea>
<br/>
<span>Оценка за компонент: </span><%= text_field_tag :v_mark, @result.v_result.mark %>
<hr/>
