<span>Компонент S</span><br/>
<textarea name="s_log", cols="100" rows="10" >
<%= @result.s_result.log.data%>
</textarea>
<br/>
<span>Оценка за компонент: </span><%= text_field_tag :s_mark, @result.s_result.mark %>
<hr/>
