<% if @s_action=="tema" %>
  $('.ne_tema').fadeOut(0);
  $('#tema').html('<label for="tema_action">Выберите онтологию:</label><select id="tema_action" class="form-control"><option selected disabled style="display: none"></option><% KaTopic.where(parent_id: nil).each do |t| %><option value="<%= t.id %>"><%= t.text %></option><% end %></select>');
<% else %>
  $('#tema').html('');
  $('.ne_tema').fadeIn(0);
  $('#tema').html('');
<% end %>