<% content_for(:head) do %>
  <title>Контрольная работа</title>
<% end %>

<%= form_tag next_component_path, method: "POST" do %>
  <% if @tasks != nil %>
    <div>
      Выберите вариант:
      <%= select_tag :task_id, options_from_collection_for_select(@tasks, :id, :id) %>
    </div>
  <% end %>
  <%= hidden_field_tag :component, "start" %>
  <%= submit_tag "Начать работу" %>
<% end %>
