<% if @user.role == 'admin' %>
    <h2>Управление психологическими тестами</h2>
    <p>В данном разделе Вы можете редактировать, создавать и назеачать психологические теты студентам. Для начала работы
      выберите тест из списка слева или нажмите "создать новый".
    </p>
<% else %>
    <h2>Психодогические тесты</h2>
    <p>Выберите тест, чтобы начать тестирование или нажмите на "результаты", чтобы просмотреть результаты пройденных тестов </p>
<% end %>