<div class="col-md-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Ввод ответа из предложенного перечня</h4>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">Создание</a>
        </li>
      </ul>
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active" id="A">
            <div class="well well-sm">
              <table class="table table-hover" style=" font-size: 14px; " id="table">
                <colgroup>
                  <col span="1" style="width: 10%;">
                  <col span="1" style="width: 80%">
                  <col span="1" style="width: 10%;">

                </colgroup>
                <thead>
                <!--<tr>
                  <th colspan="3">
                    <center>Create/edit task here</center>
                  </th>
                </tr>-->
                <tr>
                  <th colspan="3">
                    <center>
                      <button class="btn btn-default task">
                        <small><a href="#" data-pk="1" data-inputclass="question_title" data-type="textarea" data-empty="Empty" class="edit_task" id="question">Введите вопрос</a>
                        </small>
                      </button>
                    </center>
                  </th>
                </tr>
                </thead>
                <tbody id="rows">
                <tr class="answer">
                  <td>
                    <center>
                      <input type="checkbox" aria-label="...">
                    </center>
                  </td>
                  <td>
                    <button class="btn btn-default task">
                      <small><a href="#" data-pk="1" class="edit_task" data-type="text" data-empty="Empty">Ответ 1</a>
                      </small>
                    </button>
                  </td>
                  <td>
                    <small>
                      <center>
                        <button id="row_del" type="button" class="btn btn-danger btn-xs del" style="display: inline-block;" value="1">del</button>
                      </center>
                    </small>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th></th>
                  <th>
                    <center>
                      <button class="btn btn-default settings_button" id="add_row">
                        +
                      </button>
                    </center>
                  </th>
                  <th></th>
                </tr>
                <tr>
                  <td>

                  </td>

                  <td>
                    <center>
                      <button class="btn btn-info settings_button" id="done">
                        Создать
                      </button>
                    </center>
                  </td>
                </tr>
                </tfoot>
              </table>
              <%= render "utz/select_topic" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Назад', utz_path %>

<% content_for :head do %>
    <%= stylesheet_link_tag    "ytz1_creation", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "ytz1_creation", "data-turbolinks-track" => true %>
<% end %>