<table border="2px">

  <% @framecode.frames.each do |frame| %>

      <tr>
        <td><%=frame.type + ":" + frame.name%></td>
        <%frame.children.each do |slot|%>
            <% temp = []%>
          <tr>
            <td><%= slot.type.to_s + ":" + slot.name.to_s%></td>
            <%slot.children.each do |value|%>
                <% temp.push(value.type + ":" +value.name )%>
            <%end%>
            <td><%=temp.to_s%></td>
          </tr>
      <%end%>
      </tr>

  <%  end %>

</table>