// Place all the styles related to the AdminTools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td#menu
{
	background-color: lightgrey;
	vertical-align: top;
	width: 10%;
	min-width: 150px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid gray
}

td#content
{
	text-align: center;
	background-color: lightgrey;
	border-radius: 3px;
	border: 1px solid gray
}

div#page
{
	background-color: #F0F0F0;
	border-radius: 10px;
	border: 2px solid black;
	padding: 10px;
	position: relative;
	width: 70%;
	max-width: 1500px;
	margin: 0 auto;
}
