// Place all the styles related to the Auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login
{
	position: absolute;
	left: 40%;
	width: 20%;
	top: 200px;
	text-align: center;
	border: 1px solid grey;
	border-radius: 5px;
}

input.big_letters
{
	font-size: 16pt;
}

span.auth
{
	font-size: 26pt;
}
