// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#menu
{
	border: 1px solid gray;
	border-radius: 4px;
	margin: 0 auto;
	font-size: 24pt;
	background-color: lightgrey;
}
