table.iksweb td:hover{
background: #D1C7BF;
font-weight: bold;
}
table.iksweb {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
table.iksweb th {
	font-weight: bold;
	text-align: left;
	border: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
table.iksweb tbody td {
	border: 1px solid #888;
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
table.iksweb thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
table.iksweb thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
table.iksweb tbody td:nth-child(even){
	background: #f3f3f3;
}
