.preview-img {
	width: auto; 
	height: 150px; 
	max-width: 280px
}

.question_title{
   width: 500px;
}

.task {
    width: 100%
}

.settings_button {
  width: 80%
}

tr.drag:hover{
  background-color: aquamarine !important;
  border: 2px solid black;
}