- if not @user
  script 
    | window.__MENU__ = [{path: "#{login_path}", label: "Вход"}, {path: "#{new_user_path}", label: "Регистрация"}]
- elsif @user.role != 'admin'
  script 
    | window.__MENU__ = [{path: "#{root_path}", label: "Главная"}, {path: "#{ka_welcome_path}", label: "Пройти тест"}, {path: "#{get_logout_path}", label: "Выход"}]
- else
  
  script type="text/javascript"
    | 
      window.__MENU__ = [
        {path: "#{root_path}", label: "Главная"}, 
        {path: "#{ka_welcome_path}", label: "Пройти тест"}, 
        {path: "#{ka_topics_path}", label: "Редактор"}, 
        {path: "#{all_ka_topics_path}", label: "Темы"}, 
        {path: "#{ka_questions_path}", label: "Вопросы"}, 
        {path: "#{competences_path}", label: "Компетенции"}, 
        {path: "#{triade_formate_path}", label: "АМРР"}, 
        {path: "#{constructs_path}", label: "Конструкты"}, 
        {path: "#{components_path}", label: "Компоненты"}, 
        {path: "#{new_ka_test_path}", label: "Генератор"}, 
        {path: "#{ka_tests_path}", label: "Тесты"}, 
        {path: "#{ka_results_path}", label: "Результаты"}, 
        {path: "#{ontology_rules_path}", label: "Интерпретация связей"}, 
        {path: "#{get_logout_path}", label: "Выход"}
      ]

div id="main_menu"

= javascript_pack_tag 'ka_menu', 'data-turbolinks-track': 'reload'