<table border="2px">

  <% @framestudentcode.forUser.each do |frame| %>

      <tr>
        <td><%=frame.type + ":" + frame.name%></td>
        <%frame.children.each do |slot|%>
            <% temp = []%>
          <tr>
            <td><%= slot.type + ":" + slot.name %></td>
            <%slot.children.each do |value|%>
								<% names = value.name
									 types = value.type 
								%>
								<% if not (names)
										 names = ""
									 end
							 %>
						<% if not (types)
										 types = ""
									 end
							 %>

                <% temp.push(types + ":" +names ) %>
							
            <%end%>
            <td><%= temp.to_s %></td>
          </tr>
      <%end%>
      </tr>

  <%  end %>

</table>
